body {
    font-size: 16px;
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
    font-family: $font-family-open-sans;
    color: $black;

  &.no-scroll {
    min-height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
}

img {
  max-width: 100%;
}

// Global video player
#global-video-player {
  .modal-dialog {
    margin: 0;
    max-width: 100%;
    width: 100vw;
  }

  .modal-content {
    @include aspect-ratio(16, 9, '.modal-body');

    background-color: $black;
    border-width: 0;
    margin: 0 auto;
  }

  .modal-header {
    border-bottom-width: 0;
    position: absolute;
    right: rem-calc(20px);
    top: 0;
    z-index: 1;

    button {
      appearance: none;
      background-color: transparent;
      border-width: 0;
      color: $white;
      font-size: rem-calc(50px);
      line-height: 1;
    }
  }

  .modal-body {
    padding: 0;
  }

  .modal-content,
  .modal-body > *,
  iframe {
    display: block;
    height: 100%;
    max-height: rem-calc(768px);
    max-width: rem-calc(1024px);
    width: 100%;
  }
}


// Blockquote
/*
blockquote {
  @include typography-level('headings', 'h3');

  color: theme-color('c1');
  text-align: center;

  &::before {
    color: theme-color('c7');
    content: '„';
    display: block;
    font-size: rem-calc(120px);
    height: 50px;
    letter-spacing: rem-calc(4px);
    line-height: 0;
    margin-bottom: 25px;
  }
}
*/
