// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.

div[class*='colctrl']:not([class*='col-']) {
  @include make-container;
  @include make-container-max-widths;

  .#{$aem-prefix} > & {
    padding-left: 0;
    padding-right: 0;
  }
}

@include media-breakpoint-down(sm) {
  div[class*="col-"] {
    &.col-sm {
      width: 100%;
      display: block;
      max-width: 100%;
      flex-basis: inherit;
      flex-grow: inherit;
    }
  }
}
