// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.

.page-details {
  background-position: center center;
  background-size: cover;
  min-height: 220px;
  padding-bottom: $spacing-sm;
  padding-top: $spacing-sm;
  position: relative;
  z-index: 1;

  > div {
    @include clearfix;
  }

  // Float the 'breadcrumb' to the left
  nav.breadcrumb {
    float: left;
  }

  // Float the 'page date' to the right
  time {
    float: right;
    margin-bottom: rem-calc();
  }

  // Ensure other key elements remain clear of the floated siblings
  header,
  section {
    clear: both;
  }

  .description p {
    @extend .lead;
  }

  // Search form
  [data-modules*='header-search'] {
    margin-left: auto;
    margin-right: auto;
    max-width: 598px;
    padding-bottom: rem-calc(200px);
    padding-top: rem-calc(90px);
    text-align: center;
    width: 100%;

    input[type='text'] {
      @include placeholder {
        color: theme-color('g1');
        transition: $transition-base;
      }

      background-color: transparent;
      border-width: 0;
      border-bottom: 2px solid currentColor;
      color: theme-color('g1');
      font-size: rem-calc(26px);
      line-height: rem-calc(26px);
      margin-bottom: rem-calc(58px);
      padding: 0 rem-calc(30px) rem-calc(6px);
      text-align: inherit;
      width: 100%;

      &:focus {
        outline: none;

        @include placeholder {
          color: transparent;
        }
      }

      @include media-breakpoint-up(md) {
        font-size: rem-calc(54px);
        line-height: rem-calc(54px);
        padding-left: rem-calc(40px);
        padding-right: rem-calc(40px);
      }
    }

    .clear-search {
      color: theme-color('c6');
      font-size: rem-calc(14px);
      margin-left: rem-calc(-14px);

      @include media-breakpoint-up(md) {
        font-size: rem-calc(24px);
        margin-left: rem-calc(-24px);
      }
    }

    .suggestions {
      top: calc(100% - #{rem-calc(58px)});

      button {
        display: block;
        width: auto;
      }
    }
  }

  &::before {
    background-color: rgba($white, .7);
    bottom: 0;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    z-index: -1;
  }

  @include media-breakpoint-up(md) {
    min-height: 200px;
  }
}
