html:not(.aem-AuthorLayer-Edit) {
  [data-modules*="parallaximage"] {
    &,
    & > div[component] {
      overflow: hidden;
    }
    & > div[component] {
      cursor: pointer;
      &:first-of-type {}
      &:last-of-type {
        @include media-breakpoint-down(md) {
          display: none;
        }
        img {
          transform: translateY(-50%);
        }
      }
    }
  }
}
