// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.

.taglist {
  &__toggle {
    align-items: center;
    appearance: none;
    border-width: 0;
    border-bottom: 2px solid currentColor;
    color: theme-color('g1');
    cursor: pointer;
    display: inline-flex;
    font-size: rem-calc(18px);
    justify-content: space-between;
    padding: rem-calc(2px) rem-calc(10px);
    width: 100%;

    &:focus {
      outline: none;
    }

    .icon {
      font-size: rem-calc(14px);
      transition: $transition-base;
    }

    &.active .icon {
      transform: rotate(180deg);
    }
  }

  &__invalid {
    color: red;
    text-align: center;
  }

  &__tags {
    padding-top: rem-calc(40px);
    position: relative;

    &:not(.open) {
      display: none;
    }

    @include media-breakpoint-down(sm) {
      margin-left: 0 !important;
    }

    @include media-breakpoint-up(md) {
      left: 100vw;
      transform: translateX(-150vw);
      width: 100vw;
    }
  }

  &__action {
    display: block;
    margin: get-spacer(30) auto 0;
    width: 112px;
  }

  .tags {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 800px;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;

    li {
      a {
        align-items: center;
        color: #7a7a7a;
        display: inline-flex;

        &:not(.selected) {
          padding-left: 0;
          padding-right: 0;
        }

        &:hover {
          background-color: transparent;
          color: #7a7a7a;
        }

        &:not(.selected) {
          border-color: transparent;
        }

        &.selected {
          background-color: transparent;
          color: theme-color('c1');

          &::after {
            @include pseudo-icon('cancel', rem-calc(10px), $needs-margin: false);

            line-height: 10px;
            margin-left: rem-calc(8px);
            margin-top: rem-calc(.5px);
          }
        }
      }

      &:not(:last-child) {
        margin-right: 0;
      }

      @include media-breakpoint-up(md) {
        width: calc(100% / 3);
      }
    }

    @include media-breakpoint-up(md) {
      padding-left: rem-calc(60px);
      padding-right: rem-calc(60px);
    }
  }
}
