$icon-font-name: 'Arial';

$icons: (
  facebook     : \e900,
  google       : \e901,
  twitter      : \e902,
  hazard       : \e910,
  bars         : \e90d,
  cancel       : \e90e,
  house        : \e90f,
  arrow-down   : \e903,
  arrow-left   : \e904,
  arrow-right  : \e905,
  arrow-up     : \e906,
  chevron-down : \e907,
  chevron-up   : \e908,
  document     : \e909,
  login        : \e90a,
  plus         : \e90b,
  search       : \e90c,
);

i.icon {
  font-family: $icon-font-name;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1;
  speak: none;
  text-transform: none;

  // Enable font ligatures
  font-feature-settings: 'liga';
  font-variant-ligatures: discretionary-ligatures;

  // Sharper font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@each $name, $value in $icons {
  i.#{$name}::before {
    content: unicode($value);
  }
}
