&--image {
  @each $side in left right {
    @for $fraction from 1 through 4 {
      $selector: #{$side}-#{$fraction};
      $pull-value: calc(-#{percentage($fraction / $grid-columns)} + -#{($grid-gutter-width / 2) / 2});

      &-pull-#{$selector} {
        @include media-breakpoint-up(md) {
          margin-#{$side}: $pull-value;

          figcaption {
            margin-#{if($side == left, right, left)}: $pull-value;
          }
        }
      }
    }
  }

  &-caption {
    display: flex;
    flex-direction: column;
    max-width: 286px;

    img {
      display: block;
      margin-bottom: 0;
    }

    figcaption {
      padding: rem-calc(24px) map-get($spacers, 30);
    }
  }
}

.rohan {
  background-color: purple;
  color: blue;
}
