// Colours

$black: #000;
$white: #fff;

$brand-colours: (
  'core': (
    c1: #85C441,
    c2: #00AEEF,
    c3: #00BED8,
    c4: #FCB945,
    c5: #883681,
    c6: #808285,
    c7: #ED1B2E,
    c8: #21201E,
    c9: #ffffff,
    c10: #292625,
    c11: #d9d5d1
  ),

  'grey': (
    g1: #414141,
    g2: #5a5360,
    g3: #635c69,
    g4: #cad4de,
    g5: #f2f2f2,
    g6: #f7f6f7,
    g7: $white,
  ),


);

$primary: map-deep-get($brand-colours, 'core', 'c7');
$secondary: map-deep-get($brand-colours, 'core', 'c8');
$tertiary: map-deep-get($brand-colours, 'core', 'c6');

$theme-colors: (
  'primary'   : $primary,
  'secondary' : $secondary,
  'tertiary' : $tertiary,

  'c1': map-deep-get($brand-colours, 'core', 'c1'),
  'c2': map-deep-get($brand-colours, 'core', 'c2'),
  'c3': map-deep-get($brand-colours, 'core', 'c3'),
  'c4': map-deep-get($brand-colours, 'core', 'c4'),
  'c5': map-deep-get($brand-colours, 'core', 'c5'),
  'c6': map-deep-get($brand-colours, 'core', 'c6'),
  'c7': map-deep-get($brand-colours, 'core', 'c7'),
  'c8': map-deep-get($brand-colours, 'core', 'c8'),
  'c9': map-deep-get($brand-colours, 'core', 'c9'),

  'g1': map-deep-get($brand-colours, 'grey', 'g1'),
  'g2': map-deep-get($brand-colours, 'grey', 'g2'),
  'g3': map-deep-get($brand-colours, 'grey', 'g3'),
  'g4': map-deep-get($brand-colours, 'grey', 'g4'),
  'g5': map-deep-get($brand-colours, 'grey', 'g5'),
  'g6': map-deep-get($brand-colours, 'grey', 'g6'),
  'g7': map-deep-get($brand-colours, 'grey', 'g7'),
);
// Spacing

$spacers: (
  0   : 0,
  15  : 15px,
  30  : 30px,
  45  : 45px,
  60  : 60px,
  75  : 75px,
  90  : 90px,
  120 : 120px,
);


// Body

$body-bg:                   theme-color('g7');
$body-color:                theme-color('g1');


// Components
//
// Define common padding and border radius sizes and more.

$border-width:                1px;
$border-color:                theme-color('c6');

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;


// Fonts

$font-family-base:            'Arial', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-open-sans:       'Open Sans', sans-serif;
$font-family-brush-up:        'BrushUp', sans-serif;
$font-family-awesome:         'Font Awesome 5 Free';
$font-family-awesome-solid:   'Font Awesome 5 Free Solid';

$font-size-base:              16px;
// $font-size-lg:                ($font-size-base * 1.25);
// $font-size-sm:                ($font-size-base * .875);

$line-height-base:            24px;

$h1-font-size:                54px;
$h2-font-size:                40px;
$h3-font-size:                30px;
$h4-font-size:                26px;
$h5-font-size:                24px;
$h6-font-size:                20px;

$headings-margin-bottom:      get-spacer(15);
$headings-font-weight:        normal;
$headings-line-height:        1;
$headings-color:              inherit;

$lead-font-size:              18px;
$lead-font-weight:            normal;


// Options

$enable-rounded:            false;


// Icons

$icon-sizes: (
  xs: 16px,
  sm: 24px,
  md: 48px,
  lg: 72px,
  xl: 96px,
);

// Spacing

$container-spacers: (
  sm : 16px,
  md : 36px,
  lg : 64px
);

$spacers: (
  0   : 0,
  15  : rem-calc(15px),
  16  : rem-calc(16px),
  24  : rem-calc(24px),
  30  : rem-calc(30px),
  32  : rem-calc(32px),
  45  : rem-calc(45px),
  48  : rem-calc(48px),
  60  : rem-calc(60px),
  64  : rem-calc(64px),
  72  : rem-calc(72px),
  75  : rem-calc(75px),
  90  : rem-calc(90px),
  96  : rem-calc(96px),
  120 : rem-calc(120px),
  128 : rem-calc(128px),
);

// Custom typography map for responsive headings and text

$typography: (
  headings: (
    h1: (
      xs: (
        font-size: 40px,
        font-weight: bold,
        line-height: 46px,
      ),
      md: (
        font-size: 42px,
        line-height: 50px,
      ),
      lg: (
        font-size: $h1-font-size,
        line-height: 62px,
      ),
    ),

    h2: (
      xs: (
        font-size: 35px,
        line-height: 41px,
      ),
      md: (
        font-size: 38px,
        line-height: 42px,
      ),
      lg: (
        font-size: $h2-font-size,
        line-height: 48px,
      ),
    ),

    h3: (
      xs: (
        font-size: 26px,
        font-weight: 300,
        line-height: 32px,
      ),
      md: (
        font-size: 28px,
        line-height: 34px,
      ),
      lg: (
        font-size: $h3-font-size,
        line-height: 38px,
      ),
    ),

    h4: (
      xs: (
        font-size: 24px,
        line-height: 30px,
      ),
      md: (
        font-size: 26px,
        line-height: 34px,
      ),
      lg: (
        font-size: $h4-font-size,
        line-height: 34px,
      ),
    ),

    h5: (
      xs: (
        font-size: 20px,
        line-height: 26px,
      ),
      md: (
        font-size: 22px,
        line-height: 30px,
      ),
      lg: (
        font-size: $h5-font-size,
        line-height: 32px,
      ),
    ),

    h6: (
      xs: (
        font-size: 18px,
        line-height: 24px,
      ),
      md: (
        font-size: 20px,
        line-height: 28px,
      ),
      lg: (
        font-size: $h6-font-size,
        line-height: 28px,
      ),
    ),
  ),

  paragraphs: (
    p1: (
      default-selector : '.lead',
      no-tag           : true,

      xs: (
        only        : true,
        line-height : 24px,
      ),
    ),

    p2: (
      default-selector: 'p',

      xs: (
        only        : true,
        line-height : 22px,
      ),
    ),

    p3: (
      no-tag: true,

      xs: (
        font-size: 14px,
        line-height: 24px,
      ),
    ),

    p4: (
      no-tag: true,

      xs: (
        font-size: 12px,
        line-height: 20px,
      ),
    ),
  ),
);


// Grid generic

$aem-prefix: 'aem-Grid';
$aem-prefix-col: 'aem-GridColumn';

$aem-breakpoints: (
  'small'   : 'sm',
  'medium'  : 'md',
  'large'   : 'lg',
  'default' : 'xl',
);



// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 16px;


// Grid breakpoints
 $grid-breakpoints: (
   xs: 0,
   sm: 640px,
   md: 768px,
   lg: 992px,
   xl: 1400px,
 );

// Grid containers
$container-max-widths: (
  sm: 640px,
  md: 768px,
  lg: 992px,
  xl: 1400px,
);

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1400px;

//Max queries
$screen-sm-max: 767px;


// Grid columns

$grid-gutter-width: 30px;


// Spacing

$spacers: (
  0   : 0,
  15  : rem-calc(15px),
  30  : rem-calc(30px),
  45  : rem-calc(45px),
  60  : rem-calc(60px),
  75  : rem-calc(75px),
  90  : rem-calc(90px),
  120 : rem-calc(120px),
);



// UC Spacing conventions
// Vertical Spacing \\
// margin-bottom: map-deep-get($spacersVertical, 'lg', 'Y.5');
$spacersVertical: (
  'sm': (
    'Y.5'  : rem-calc(12px),
    'Y.75' : rem-calc(18px),
    'Y1'   : rem-calc(24px),
    'Y1.5' : rem-calc(36px),
    'Y2'   : rem-calc(36px),
    'Y2.5' : rem-calc(48px),
    'Y3'   : rem-calc(54px),
    'Y4'   : rem-calc(72px),
  ),
  'md': (
    'Y.5'  : rem-calc(12px),
    'Y.75' : rem-calc(18px),
    'Y1'   : rem-calc(24px),
    'Y1.5' : rem-calc(36px),
    'Y2'   : rem-calc(48px),
    'Y2.5' : rem-calc(54px),
    'Y3'   : rem-calc(72px),
    'Y4'   : rem-calc(96px),
  ),
  'lg': (
    'Y.5'  : rem-calc(16px),
    'Y.75' : rem-calc(24px),
    'Y1'   : rem-calc(32px),
    'Y1.5' : rem-calc(48px),
    'Y2'   : rem-calc(64px),
    'Y2.5' : rem-calc(72px),
    'Y3'   : rem-calc(96px),
    'Y4'   : rem-calc(128px),
  )
);
// Horizontal Spacing \\
// margin-bottom: map-deep-get($spacersHorizontal, 'lg', 'Y.5');
$spacersHorizontal: (
  'sm': (
    'Y.5'  : rem-calc(8px),
    'Y.75' : rem-calc(12px),
    'Y1'   : rem-calc(16px),
    'Y1.5' : rem-calc(24px),
    'Y2'   : rem-calc(32px),
    'Y2.5' : rem-calc(36px),
    'Y3'   : rem-calc(48px),
    'Y4'   : rem-calc(64px),
  ),
  'md': (
    'Y.5'  : rem-calc(12px),
    'Y.75' : rem-calc(18px),
    'Y1'   : rem-calc(24px),
    'Y1.5' : rem-calc(36px),
    'Y2'   : rem-calc(48px),
    'Y2.5' : rem-calc(54px),
    'Y3'   : rem-calc(72px),
    'Y4'   : rem-calc(96px),
  ),
  'lg': (
    'Y.5'  : rem-calc(16px),
    'Y.75' : rem-calc(24px),
    'Y1'   : rem-calc(32px),
    'Y1.5' : rem-calc(48px),
    'Y2'   : rem-calc(64px),
    'Y2.5' : rem-calc(72px),
    'Y3'   : rem-calc(96px),
    'Y4'   : rem-calc(128px),
  )
);

// Navs

$nav-link-padding-y:                0;
$nav-link-padding-x:                0;

$nav-tabs-border-color:             theme-color('c6');
$nav-tabs-border-width:             2px;
$nav-tabs-border-radius:            $border-radius;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color;
$nav-tabs-link-active-color:        theme-color('c6');
$nav-tabs-link-active-bg:           transparent;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;


// Navbar

$navbar-padding-y:                  0;
$navbar-padding-x:                  0;

$navbar-nav-link-padding-x:         0;

$navbar-brand-font-size:            rem-calc(32px);
$navbar-brand-padding-y:            0;

$navbar-toggler-padding-y:          0;
$navbar-toggler-padding-x:          0;

$navbar-light-color:                theme-color('c6');
$navbar-light-hover-color:          theme-color('g1');
$navbar-light-active-color:         theme-color('g1');
$navbar-light-disabled-color:       theme-color('g5');
$navbar-light-toggler-icon-bg:      null;
$navbar-light-toggler-border-color: null;


// Breadcrumbs

$breadcrumb-padding-y:              0;
$breadcrumb-padding-x:              0;

$breadcrumb-bg:                     transparent;
$breadcrumb-divider-color:          inherit;
$breadcrumb-active-color:           inherit;
$breadcrumb-divider:                '›';


// Cards

$card-border-width:                 0;
$card-bg:                           transparent;


// Buttons

$btn-padding-y:               15px;
$btn-padding-x:               30px;
$btn-line-height:             rem-calc(20px);

$btn-padding-y-sm:            8px;
$btn-padding-x-sm:            15px;
$btn-line-height-sm:          rem-calc(16px);

$btn-padding-y-lg:            $btn-padding-y;
$btn-padding-x-lg:            $btn-padding-x;
$btn-line-height-lg:          $btn-line-height;

$btn-border-width:            0;
