# Ignore VLT files
.vlt
.vlt-sync.log
.vlt-sync-config.properties

# Ignore Quickstart launches in the source tree
license.properties
crx-quickstart

# Ignore compilation results
target/
drivers/
build/
public/


#Ignore IDE files
.idea
.classpath
.metadata
.project
.settings
maven-eclipse.xml
*.iml
*.ipr
*.iws
.idea/
.vscode/


#Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE and Operating System artifacts
.idea
.classpath
.metadata
.project
.settings
maven-eclipse.xml
*.iml
*.ipr
*.iws
.DS_Store

# Node
content/node_modules
node/
node_modules/
npm-debug.log
.sass-cache/*
/sass-cache


# Velocity
bundle/velocity.log.*
bundle/velocity.log
velocity.log*

# Other
lib/
libs/

#Packer.io
packer_cache
builds

#deploy
*.pyc
jenkins.properties
deploy/lib/python-packages

#logs
logs/
*.log

#junk
devops___*

#ssh keys
.ssh/
.ssh/*

#stats files
.stats
.stats/*

#prototype project
patternlab.json
content-generator/content/
content-generator/output/
