
footer[component],
.footer[component] {
  padding: 40px 0;
  background-size: cover;
  background-position: center;

  &.theme--footer-brand {
    background-color: $secondary;
    padding: 40px 0 100px 0;
    & > .aem-Grid {
      @include container();
    }
    div[component].text {
      &,
      & > * {
        color: $white;
        display: inline-block;
        vertical-align: top;
      }
    }
    div[component].pagelist {
      &,
      ul > li {
        display: inline-block;
        padding: 0;
        max-width: inherit;
        width: auto;
        vertical-align: top;
      }
      & > .content {
        margin: 0;
      }
      ul {
        list-style: none;
        display:block;
        & > li {
          &:not(:last-of-type){
            &:after {
              content: "|";
              color: $white;
            }
          }
        }
      }
    }
    .colctrl:not([class*='col-']) {
      max-width: 100%;
    }
    [class*='col-'] {
      &:first-of-type {
        padding-top: 9px;
        @include media-breakpoint-down(md) {
          text-align: center;
        }
        * {
          font-size: 12px;
          color: $primary;
          text-transform: uppercase;
          &:hover {
            text-decoration: none;
          }
        }
        ul {
          margin-top: 0 !important; // Overwrite for SSI forms
        }
      }
      &:last-of-type {
        div[component].pagelist {
          min-width: 100%;
          .content {
            display: flex;
            justify-content: flex-end;
            @include media-breakpoint-down(md) {
              justify-content: center;
              margin-top: 20px;
            }
          }
          ul {
            display: inline-block;
            width: auto;
            & > li:not(:last-of-type):after {
              content: " ";
            }
          }
        }
      }
    }
    @include media-breakpoint-up(lg) {
      [class*='col-lg-'] {
        float: left;
      }
      .col-lg-9 {
        width: 75%;
      }
      .col-lg-3 {
        width: 25%;
      }
    }
    [class*='col-lg-'] {
      flex-basis: inherit;
      flex-grow: inherit;
    }
    @include media-breakpoint-down(md) {
      .col-sm {
        width: 100%;
        display: block;
        max-width: 100%;
        flex-basis: inherit;
        flex-grow: inherit;
      }
    }
    .parsys_column.row {
      display: block;
    }
  }
}

