header[component],
.header[component] {
  width: 100%;
  height: 50px;
  @include media-breakpoint-up(lg) {
    height: 90px;
  }
  &.theme--header-brand {
    &.container {
      @include container();
      width: 100% !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
      @media (max-width: 1399px) {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
    .container {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    ul {
      margin-top: 0 !important;
    }
    .pagelist ul > li > a > i {
      font-size: 1.25rem !important;
    }
    div[component].parsys {
      float: left;
      div[component].theme--image-headerlogo {
        &:first-of-type {
          z-index: 15;
        }
        &:last-of-type {
          z-index: 14;
        }
      }
    }
    div[component].embedsource > a {
      display:block;
      float:left;
    }
    button[data-modules="navtoggler"] {
      display:block;
      position: absolute;
      top: 0;
      right: 0;
      margin: 13px 16px 0 0;
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
    @include media-breakpoint-down(md) {
      position: fixed !important;
      top: 0;
      left: 0;
      z-index: 10;
      background: $white;
    }
  }
}

html.aem-AuthorLayer-Edit {
  .header[component].theme--header-brand {
    height: auto;
    position: relative !important;

    div[component].parsys,
    div[component].embedsource > a {
      float: none;
    }
  }
  div[component].theme--image-headerlogo {
    &:last-of-type {
     display: none;
    }
  }
  button[data-modules="navtoggler"] {
    float: none;
  }
}
