// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.
.theme--contentblock,
.contentblock {
  &-banner {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 0;
    background-size: cover;
    background-position: center;
    @media (min-width: $screen-sm) {
      height: 400px;
    }
    @media (min-width: $screen-lg) {
      background-position: 75% top;
    }
    &.image-only * {
      display: none;
    }
    & > .container > [class*="aem-Grid"] {
      margin: 50px 5px 5px 0;
      width: 60%;
      z-index: 11;
      @media (min-width: 578px) {
        width: 40%;
        margin: 100px 5px 100px 0;
      }
      background-color: $white;
      padding: 13px;
      @media (min-width: $screen-sm) {
        padding: 20px;
      }
      h1 {
        font-size: 28px;
        margin-bottom: 15px;
        text-transform: uppercase;
        line-height: 1.1;
        overflow-wrap: normal;
        @media (min-width: $screen-sm) {
          font-size: 50px;
        }
      }
      h2 {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 700;
        line-height: 1.1;
        overflow-wrap: normal;
        @media (min-width: $screen-sm) {
          font-size: 40px;
          margin-bottom: 10px;
        }
      }
      h1,
      h2 {
        word-wrap: break-word;
      }
      a {
        @media (max-width: $screen-sm-max) {
          padding: 5px 5px;
          font-size: 12px;
        }
      }
    }
  }
  &.theme--contentblock-carousel {
    .text[component] h2 {
      padding: 20px 20px 0 20px;
      text-align: center;
      font-weight: bold;
      @include media-breakpoint-up(md) {
        font-size: 52px;
        padding: 60px 20px 0 20px;
      }
    }
  }
  &.theme--contentblock-form {
    padding: 25px 0;
    @include media-breakpoint-up(md) {
      padding: 105px 0;
    }
    div[component].colctrl {
      @include media-breakpoint-up(md) {
        max-width: 80%;
      }
      @include media-breakpoint-up(lg) {
        max-width: 100%;
      }
      & > .row {
        background-color: $white;
        margin-left: 0;
        margin-right: 0;
      }
    }
    @include media-breakpoint-down(sm) {
      .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
    .row {
      .parsys_column {
        padding: 40px 15px;
        @include media-breakpoint-up(md) {
          padding: 40px;
        }
        &:first-child {
          p {
            font-size: 16px;
            margin-bottom: 15px;
          }
          h1 {
            font-size: 45px;
            @include media-breakpoint-down(sm) {
              font-size: 40px;
            }
          }
          @include media-breakpoint-up(md) {
            padding: 40px;
            p {
              font-size: 20px;
            }
          }
        }
        &:last-child {
          background-color: $secondary;
          iframe {
            border: 0;
          }
          @include media-breakpoint-up(xl) {
            overflow: hidden;
            iframe {
              width: 992px;
            }
          }
        }
      }
    }
  }
  &.theme--contentblock-article {
      & > .container {
        max-width: 800px !important;
        padding: 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
        @include media-breakpoint-up(md) {
          padding: 50px 0;
        }
        & > .aem-Grid {
          background-color: $white;
          padding: 20px 30px;
          @include media-breakpoint-up(md) {
            padding: 50px 50px;
          }
        }
        h1 {
          font-size: 32px;
          line-height: 1;
          margin-bottom: 30px;
          text-transform: uppercase;
          @include media-breakpoint-up(md) {
            font-size: 48px;
          }
        }
        h2, h3 {
          font-weight: bold;
        }
        p,
        p:last-of-type {
          font-size: 16px;
          margin-bottom: 15px;
          line-height: 1.2;
          @include media-breakpoint-up(md) {
            font-size: 20px;
          }
        }
        a[href]:not(.card-link) {
          color: $primary;
          &:hover {
            text-decoration: none;
          }
        }
        h4 {
          font-weight: bold;
          margin-bottom: 10px;
        }
        img {
          display: block;
          margin: auto;
          max-width: 85%;
          min-width: 85%;
          height: auto;
          padding-top: 1em;
          padding-bottom: 2em;
          &:last-of-type:not(:first-of-type) {
            padding-bottom: 0;
          }
        }
        [class*="list"][component]{
          padding: 0;
          margin-top: 25px;
          p {
            font-size: 16px;
          }
          i.fa {
            font-size: 4em;
            display: block;
          }
          .card-body {
            padding-top: 0;
          }
        }
      }
  }
  &.theme--contentblock-text {
    & > .container {
      padding-top: 0;
      padding-bottom: 55px;
      @include media-breakpoint-down(sm) {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      & > .aem-Grid {
        padding: 20px 15px;
        background-color: $white;
      }
      h1 {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
      p {
        font-size: 16px;
        margin-bottom: 15px;
        line-height: 1.2;
      }
      @include media-breakpoint-up(md) {
        padding-top: 55px;
        padding-bottom: 55px;
        & > .aem-Grid {
          padding: 58px 50px;
        }
        h1 {
          font-size: 48px;
        }
        p {
          font-size: 20px;
        }
      }
      ul {
        padding-left: 15px;
        li {
          font-size: 16px;
          margin-bottom: 8px;
          @include media-breakpoint-up(md) {
            font-size: 20px;
          }
        }
      }
    }
    .card-text {
      margin-top: 25px;
    }
    div[component].pagelist {
      margin-top: 30px;
      padding-left: 0;
      padding-right: 0;
      ul {
        padding-left: 0;
      }
    }
    .theme--list-tiles[component].column-6 {
      max-width: 1400px;
      .content > ul > li {
        @media ( min-width: 1200px ) {
          flex: 0 0 16.666666666666667%;
          max-width: 16.666666666666667%;
        }
      }
    }
    a[href]:not(.card-link){
      &,
      &:hover {
        text-decoration: none;
        color: $primary
      }
    }
  }
  &.theme--contentblock-accordion {
    padding: 0 15px;
    @include media-breakpoint-up(xl) {
      padding: 0;
    }
    .header {
      cursor: pointer;
      button.btn {
        background-color: transparent;
        cursor: pointer;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        color: $secondary;
        font-weight: bold;
        font-size: 17px;
        text-transform: none;
        padding-left: 45px;
        position: relative;
        &:before {
          content: '\f078';
          display: block;
          color: $tertiary;
          font-family: $font-family-awesome;
          transition: transform 0.2s ease-in-out;
          transform: rotate(0);
          font-size: 12px;
          position: absolute;
          top: 0;
          left: 0;
          margin: 20px 0 0 15px;
        }
        &:after {
          content: ' ';
        }
      }
    }
    .heading {
      display: none;
    }
    .childsection {
      border-bottom: 1px solid $primary;
      .body {
        padding: 0 14px;
        * {
          font-size: 16px;
        }
        p {
          margin: 0 auto;
          padding-bottom: 20px;
        }
        a {
          color: $primary;
          &:hover {
            text-decoration: none;
          }
        }
      }
      &[aria-expanded="true"] {
        button.btn {
          &:before {
            transform: rotate(180deg);
          }
        }
      }
    }
    .childsection .body,
    .header button.btn {
      @include media-breakpoint-up(xl) {
        max-width: 850px;
        margin: 0 auto;
        display: flex;
        align-self: center;
        justify-self: center;
      }
    }
  }
  &.theme--contentblock-fluid {
    padding: 60px 0;
    .text[component] {
      h1, h2 {
        font-size: 32px;
        padding-bottom: 1.4em;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 1.1;
        @include media-breakpoint-up(md) {
          font-size: 52px;
        }
      }
      a[href] {
        &,
        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }
    .image[component] {
      padding: 90px;
      img {
        margin: 0 auto;
        text-align: center;
      }
    }
    div[component].theme--contentblock-accordion + div[component].theme--contentblock-media {
      margin-top: 90px;
    }
  }
  &.theme--contentblock-media {
    background-color: $primary;
    padding: 50px 0;
    .text[component] {
      text-align: center;
      margin: 0 80px 25px;
      * {
        font-family: $font-family-brush-up;
        color: $white;
      }
      font-size: 32px;
      @include media-breakpoint-up(md) {
        font-size: 42px;
      }
    }
    div[component].pagelist {
      position: relative;
      margin: 0 auto;
      padding: 0;
      width: 95%;
      max-width: 980px;
      @include media-breakpoint-up(lg){
         width: 75%;
      }
    }
  }
  // modifiers
  &.acc-icon {
    .header button.btn {
      padding-left: 85px;

      &:after {
        content: "";
        position: absolute;
        left: 48px;
        top: 50%;

        color: $tertiary;
        transform: translateY(-50%);
        font-size: 18px;
      }
    }
  }
  &.acc-icon-arrow-up {
    .header button.btn:after {
      content: "\2191";
    }
  }
  &.acc-icon-arrow-down {
    .header button.btn:after {
      content: "\2193"
    }
  }
  &.acc-icon-arrow-right {
    .header button.btn:after {
      content: "\2192"
    }
  }
}

@include media-breakpoint-down(md) {
 .header[component] {
   & + .article,
   & + [component] {
     margin-top: 50px;
   }
 }
}

@each $breakpoint in map-keys($container-max-widths) {
  $infix: breakpoint-infix($breakpoint, $container-max-widths);
  .container#{$infix} {
    max-width: map-get($container-max-widths, $breakpoint) !important;
  }
}
