$disabled: #808080;

div[component].event-list,
div[component].eventlist{
  &.theme--list-card {
    .card {
      .card-title + .card-action {
        margin-top: 25px;
      }
      p {
        font-size: 16px;
      }
      a.btn {
        color: $white;
      }
      &.finished {
        *:not(.btn) {
          color: $disabled !important;
        }
        a.btn {
          background-color: $disabled;
          pointer-events: none;
          cursor: not-allowed;
          &:hover {
            background-color: lighten($disabled, 7%);
          }
          &:before {
            content: "event over";
          }
          &:after {
            content: "";
          }
          & > span {
            display: none;
          }
        }
        a.disabled {
          opacity: 1;
        }
      }
      &.event-finished {
        a.btn {
          &:before {
            content: "event finished";
          }
        }
      }
    }
    &.hidden {
      .card.finished {
        display:none;
      }
    }
    .card-subtitle {
      margin-bottom: 0px !important;
      line-height: 1.2;
      font-size: 16px;
      font-weight: normal;
    }
    .card-date {
      margin-bottom: 15px;
      line-height: 1.2;
      font-size: 16px;
      font-weight: normal;
      .col-1 {
        max-width: 100%;
      }
    }
  }
  &.cards-horizontal {
    .content {
      margin-left: 0;
      margin-right: 0;
      display: block;
    }
    .card {
      display: block;
      margin-right: 15px;
      * {
        color: $black;
      }
    }
    .card-icon,
    .card-body {
      display:  inline-block;
      vertical-align: top;
      margin: 0;
    }
    .card-icon {
      text-align: left;
      .fa {
        font-size: 30px;
        color: $black;
      }
    }
    .col-1 {
      padding: 0;
    }
    .card-body {
      padding-top: 0;
      max-width: calc(100% - 40px);
      .card-title,
      .card-subtitle {
        text-align: left !important;
        font-size: 20px;
        font-weight: normal;
        margin-top: 0;
      }
      .card-date {
        text-align: left !important;
        font-size: 20px;
        font-weight: normal;
        margin-top: 0;
      }
      .btn,
      .card-text {
        display: none;
      }
    }
  }
}
