.news-details[component] {
  position: relative;
  padding: $spacing-md 0;
  & > .container {
    max-width: 575px;
  }
  @include media-breakpoint-up(md) {
    padding: $spacing-2xl 0;
  }
  @include media-breakpoint-up(lg) {
    & > .container {
      max-width: 690px;
    }
  }
  @include media-breakpoint-up(xl) {
    padding: $spacing-3xl 0;
    & > .container {
      max-width: 915px;
    }
  }
  &:before {
    content: " ";
    width: 100%;
    background-color: $tertiary;
    z-index: -1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 260px;
    @include media-breakpoint-up(md) {
      height: 290px;
    }
    @include media-breakpoint-up(lg) {
      height: 350px;
    }
    @include media-breakpoint-up(xl) {
      height: 400px;
    }
  }
  h1, .published, .tag {
    color: $white;
  }
  h1 {
    font-size: 22pt;
    line-height: 29pt;
    font-weight: 600;
    margin: 0 0 $spacing-lg 0;
    @include media-breakpoint-up(md) {
      margin: 0 0 $spacing-3xl 0;
      font-size: 30pt;
      line-height: 36pt;
    }
    @include media-breakpoint-up(lg) {
      margin: 0 0 $spacing-4xl 0;
    }
  }
  .tags,
  .published {
    display: inline-block;
    font-size: 10pt;
    margin: 0 0 $spacing-sm 0;
    @include media-breakpoint-up(md) {
      margin: 0 0 $spacing-lg 0;
    }
    @include media-breakpoint-up(lg) {
      margin: 0 0 $spacing-2xl 0;
      font-size: 12pt;
    }
  }
  .tags {
    &:before {
      content: " ";
      display: inline-block;
      background-color: $white;
      width: 1px;
      height: 17px;
      margin-left: $spacing-2xs;
      margin-right: 3px;
      transform: translateY(4px);
      @include media-breakpoint-up(lg) {
        margin-left: $spacing-xs;
        margin-right: $spacing-2xs;
        transform: translateY(6px);
        height: 24px;
      }
    }
    .tag {
      display: inline-block;
      margin-left: $spacing-2xs;
      &:before {
        content: "#";
        font-size: 10pt;
        color: $white;
        @include media-breakpoint-up(lg) {
          font-size: 12pt;
        }
      }
    }
  }
  nav.breadcrumb > ol.breadcrumb {
    margin-top: $spacing-md;
    @include media-breakpoint-up(md) {
      margin-top: $spacing-2xl;
    }
    @include media-breakpoint-up(lg) {
      margin-top: $spacing-3xl ;
    }
  }
  .card-img-top {
    max-height: inherit;
    overflow: initial;
    &:before {
      display: none;
    }
    img {
      display:block;
      width: 100%;
      height: auto;
      position: relative;
      min-height: auto;
      min-width: auto;
      top: 0;
      transform: inherit;
    }
  }
}
