.table-heavy {
  border-spacing: 1px $spacing-2xs;
  border-collapse: separate;
  font-size: 12px;

  &__header {
    color: $grey-2;
    font-weight: 700;
    font-size: 12px;
    padding: 0 $spacing-xs;
  }

  &__header-sub {
    display: block;
    font-size: 12px;
    color: $grey-3;
  }

  &__cell {
    background-color: $grey-6;
    padding: $spacing-lg $spacing-md;

    &--weak {
      color: $grey-3;
    }

    &--green {
      color: $color-4;
      font-weight: 700;
    }

    &--code {
      @include code-snippet();
    }

    &:first-child {
      border-left: 1px solid $primary;
      font-size: 14px;
    }
  }
}
