.mobile-search,
.clear-search {
  .icon {
    display: block;
    pointer-events: none;
  }
}

.clear-search {
  appearance: none;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  font-size: rem-calc(12px);
  padding: 0;

  &:not(.active) {
    display: none;
  }
}

.search-input {
  position: relative;
}

input[type='text']:not(input[component]) {
  @include placeholder {
    transition: $transition-base;
  }

  appearance: none;
  box-shadow: none;
  padding: 0;
  transition: $transition-base;

  &:focus {
    outline: none;

    @include placeholder {
      color: transparent;
    }
  }

  .invalid-input & {
    @include placeholder {
      color: red;
    }

    border-color: red !important;
  }

  // Hide the clear button in IE and Edge
  &::-ms-clear {
    display: none;
  }
}

.suggestions {
  background-color: theme-color('g7');
  box-shadow: 0 2px 4px 0 rgba($black, .1);
  left: 0;
  padding: $spacing-lg;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;

  ul {
    @include list-unstyled;

    font-size: rem-calc(18px);
    margin-bottom: $spacing-lg;

    li:not(:last-child) {
      margin-bottom: rem-calc(10px);
    }
  }

  a {
    color: theme-color('c6');

    @include hover-focus {
      color: $link-color;
      text-decoration: none;
    }
  }

  button {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
