// Generates the responsive typography styles for each breakpoint defined in the
// `_variables.scss` config file.

@each $type, $levels in $typography {
  @each $level, $config in $levels {
    @include typography-style($level, $config);
  }
}

// Paragraphs

p {
  // This selector removes the bottom margin from all paragraph tags on the page
  // that are the last of their type in the parent container and are the last
  // child overall. If this condition isn't met, the paragraph will retain the
  // existing margin.
  &:last-of-type:last-child {
    margin-bottom: 0;
  }
}

// Text styles

.text-quote-suffix {
  // Yes, this is not the best but it saves us duplicating styles by inherting the 'lead' styles
  @extend .lead;

  color: theme-color('g1');
}

// Icon sizes
@each $name, $size in $icon-sizes {
  i.icon--#{$name} {
    font-size: $size;
    height: $size;
  }
}
