// PLEASE NOTE!!
//
// This overrides only styles that aren't configurable by Bootstrap, please take
// care when making changes as we shouldn't be duplicating styles that Bootstrap
// generates for us automatically.

$card-top-bar-height: 18px;

.card {
  box-shadow: 0 2px 3px theme-color('g4');
  margin-bottom: 0;

  &-img-top {
    display: block;
    overflow: hidden;
    position: relative;

    img {
      @include object-fit(cover, center);

      display: block;
      max-width: 100%;

      // AEM will always supply us with images in the JPEG format so we can easily enforce
      // the minimum width of the image when it is.
      &[src$='jpeg'],
      &[src$='jpg'] {
        min-height: 100%;
        min-width: 100%;
      }

      // Handle SVG images slightly different so they don't stretch when they shouldn't
      &[src$='svg'] {
        object-fit: contain;
      }

      &[data-ofi-src] {
        max-height: 100%;
      }

      // In browsers that don't support object-fit we use a polyfill, for icons that are SVG we need to
      // ensure they scale to the parent container rather than covering the whole element.
      &[data-ofi-src$='svg'] {
        background-size: auto !important;
      }
    }

    @include media-breakpoint-up(md) {
      @include aspect-ratio(16, 9, 'img');

      img {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &-subtitle,
  &-date,
  &-taglist,
  &-text {
    margin-bottom: $card-spacer-y;
  }

  &-body {
    display: flex;
    flex-direction: column;

    // A small 'hack' (if you will) that ensures buttons remain aligned to the bottom of the
    // card as sibling cards will be the same height as oneanother.
    & :last-child:not(.card-title):not(.card-text) {
      margin-top: auto;
    }

    // Remove the bottom margin if it's the only child in the body
    & :only-child {
      margin-bottom: 0;
    }
  }

  &-date,
  &-text {
    font-weight: 300;
  }

  &-tags {
    font-size: 12px;

    &--basic {
      color: theme-color('g2');
    }
  }

  &-link {
    // This is a bit messy but is required to inherit the base styles for links when nothing
    // has yet being applied via the badge config.
    //
    // TODO: Merge this style into the link component
    &[class$=' '] {
      @extend a[component].link;

      align-items: center;
      display: inline-flex;

      &::after {
        @extend .fal;
        @extend .fa-long-arrow-right:before;

        display: block;
        font-size: 17px;
        margin-left: 10px;
      }
    }
  }

  &-icon {
    // These selectors take into account that Font Awesome 5 replaces the original icon
    // along with the `.fa` classes been superseded by new category specific classes.
    > svg.svg-inline--fa {
      display: block;
      margin: 0 auto;
    }
  }

  // Variations and style changes
  @import
    'card/taglist-share'
  ;

  // Nested within a carousel
  .owl-item & {
    margin-bottom: 4px;
  }

  @include media-breakpoint-up(md) {
    height: 100%;
  }
}
