// Page Container
.grid,
.container:not(.my-large, .my-5, .guideContainerNode) {
  @include container();
}

.container {
  &--styleguide {
    &:not(.my-large):not(.my-5):not(.guideContainerNode) {
      min-height: 100%;
      max-width: 100%;
      padding: 0;
    }
  }
}
