// PLEASE NOTE!!
//
// This overrides only styles that aren't configurable by Bootstrap, please take
// care when making changes as we shouldn't be duplicating styles that Bootstrap
// generates for us automatically.

.btn {
  align-items: center;
  display: inline-flex;
  letter-spacing: 1px;

  // Override the primary hover colour
  &-primary:hover {
    background-color: theme-color('c1');
  }

  // Override the secondary button
  &-secondary {
    $secondary-padding-y: $btn-padding-y - 2;
    $secondary-padding-y-sm: $btn-padding-y-sm - 2;

    background-color: transparent;
    border: 2px solid theme-color('c6');
    color: theme-color('c6');

    // Reduce the Y padding by 2px so the border doesn't push the button size out
    padding-bottom: $secondary-padding-y;
    padding-top: $secondary-padding-y;

    &.btn-sm {
      padding-bottom: $secondary-padding-y-sm;
      padding-top: $secondary-padding-y-sm;
    }

    &:hover {
      background-color: theme-color('c6');
      border-color: theme-color('c6');
      color: theme-color('g7');
    }
  }

  // Set the text to uppercase for all but the small and filter buttons
  &:not(&-sm):not(&-filter) {
    text-transform: capitalize;
  }

  // Override the link button styles
  &-link {
    color: theme-color('c6');
    padding: 0;
    position: relative;

    &:not(.no-icon)::after {
      @include pseudo-icon('plus');
    }

    @include hover-focus {
      color: theme-color('c1');
      text-decoration: none;

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  & + & {
    margin-top: $spacing-sm;
  }

  @include media-breakpoint-up(md) {
    & + & {
      margin-left: rem-calc(30px);
      margin-top: 0;
    }
  }
}
