.theme--lists-flat &:not(&--outline) {
  @extend %card-no-bar;

  box-shadow: none;
  text-align: center;

  .card-img-top {
    background-color: $white;
    border-radius: 100%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 80px;

    &::before {
      display: none;
    }
  }

  .card-body {
    background-color: transparent;
  }
}
