.cards-padded &,
&--padded {
  .card-img-top,
  .card-icon {
    > img,
    > svg.svg-inline--fa {
      transition: transform 200ms ease;
    }
  }

  .card-icon {
    @include aspect-ratio(16, 9, 'svg.svg-inline--fa');

    font-size: icon-size('xl');

    > svg.svg-inline--fa {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  img {
    min-height: initial;
    max-width: icon-size('xl');
    min-width: icon-size('xs');
    margin: 0 auto;
  }
}
