.cards-result &,
&--result {
  background-color: transparent;
  box-shadow: none;
  flex-direction: row;
  padding-top: 0;

  .card-file-type,
  .card-img-top {
    margin-right: get-spacer(15);

    + .card-body {
      max-width: 580px;
    }
  }

  .card-file-type {
    border: 2px solid currentColor;
    border-radius: 4px;
    color: theme-color('c1');
    flex-direction: column;
    font-size: rem-calc(14px);
    height: 75px;
    line-height: rem-calc();
    margin-top: rem-calc(32px) + $card-spacer-x;
    min-width: 60px;
    padding-top: rem-calc(12px);
    text-align: center;
    text-transform: uppercase;

    &::after {
      background-color: currentColor;
      box-shadow: 0 8px 0 0 currentColor, 0 16px 0 0 currentColor, 0 24px 0 0 currentColor;
      content: '';
      display: block;
      height: 2px;
      margin: rem-calc(6px) auto 0;
      width: calc(100% - 24px);
    }

    @include media-breakpoint-up(md) {
      margin-right: rem-calc(40px);
    }
  }

  .card-img-top {
    height: 130px;
    margin-top: $card-spacer-x;
    max-width: 160px;
    width: 100%;

    &::before {
      display: none;
    }

    @include media-breakpoint-up(md) {
      margin-right: get-spacer(30);
    }
  }

  .card-body {
    padding-left: 0;
    padding-right: 0;
  }

  .card-product-name {
    color: theme-color('c6');
    margin-bottom: rem-calc(4px);
  }

  .card-title,
  .card-text {
    margin-bottom: rem-calc(8px);
  }

  .card-text {
    font-weight: 300;
  }
}
