

$colors: (
  red: $primary, // 1
  yellow: $secondary, // 2
  tertiary: $tertiary, // 3
  green: $color-4, // 4
  blue: $color-5, // 5
  purple: $color-6, // 6
  turquoise: $color-7, // 7
  red-50: $primary-50, // 8
  yellow-50: $secondary-50, // 9
  green-50: $color-4-50, // 10
  blue-50: $color-5-50, // 11
  purple-50: $color-6-50, // 12
  turquoise-50: $color-7-50, // 13
  grey-1: $grey-2, // 14
  grey-2: $grey-3, // 15
  grey-3: $grey-4, // 16
  grey-4: $grey-5, // 17
  grey-5: $grey-6 // 18
);

@each $name, $color in $colors {
  $index: index($colors, $color);
  .bg-#{$name} {
    background-color: #{$color} !important;
  }
}


.bg-parallax {
  background-attachment: fixed;
}

.bg-scroll {
  background-attachment: scroll !important;
}

.bg-dark {
  background-color: $tertiary !important;
  *:not(a){
    color: $white;
  }
  table {
    &, td, tr, th {
      border-color: $white;
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-between($breakpoint, $breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $position in 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 {
      .bg-posx-#{$position}#{$infix} {
        background-position-x: #{$position}% !important;
      }
    }
  }
}
