// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.

.newslist {

  // nesting is necessary here because of JSP constraints
  > .content {
    > ul {
      list-style-type: none;
      padding-left: 0;
      @include make-row();

      > li {
        margin-bottom: $spacing-sm;
        @include make-col-ready();
        padding: 0 $grid-gutter-width;
        @include make-col(12);

        @include media-breakpoint-up(md) {
          @include make-col(6);
        }

        @include media-breakpoint-up(xl) {
          @include make-col(4);
        }
      }
    }
  }
}

