// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.

// @mixin removeTopPadding() {
//   .card {
//     &,
//     .card-body {
//       padding-top: 0;
//     }
//   }
// }

// $border-color: #1d1f20;

@mixin pagelist-variant($selector: false, $selector-only: true) {
  $selector : if($selector != false, unquote($selector), $selector);

  @if $selector-only == true {
    #{if($selector != false, unquote($selector), '')} > .content {
      > ul > li,
      > div {
        @content;
      }
    }
  }
  @else {
    &#{if($selector != false, unquote($selector), '')} > .content {
      > ul > li,
      > div {
        @content;
      }
    }
  }
}

.pagelist {
  > .content {
    &,
    > ul {
      justify-content: flex-start;
    }

    > ul {
      @include list-unstyled;

      margin-bottom: 0;
      width: 100%;

      li:not(:last-child) {
        margin-bottom: 40px;
      }

      @include media-breakpoint-up(md) {
        li:not(:last-child) {
          margin-bottom: 0;
        }

        &:not(:last-child) li {
          margin-bottom: 60px;
        }
      }
    }
  }

  // Hide the default AEM pagination
  .pagination {
    display: none;
  }

  // Create the default page list child variant sizes
  @include pagelist-variant($selector-only: false) {
    @include make-col-ready;

    flex: 0 1 100%;

    @include media-breakpoint-up(md) {
      flex-basis: percentage(3 / $grid-columns);
      max-width: percentage(3 / $grid-columns);
    }
  }

  // Normalize the list when the 'carousel' module is applied
  &[data-modules*='carousel'] {
    ul.owl-carousel {
      display: block;
      visibility: hidden;

      .owl-item:last-child {
        margin-right: 0 !important;
      }

      &.owl-loaded {
        visibility: visible;
      }
    }

    &[data-list-split-enabled='true'] ul {
      @include media-breakpoint-down(sm) {
        &:not(.mobile-carousel) {
          display: none;
        }
      }

      @include media-breakpoint-up(md) {
        &.mobile-carousel {
          display: none;
        }
      }
    }
  }

  // If the page list component isn't currently been used as a carousel we can introduce
  // standard grid container rules.
  &:not([data-modules*='carousel']) {
    @include make-container;
    @include make-container-max-widths;

    // iPhone X support
    @include iphone-x;

    > .content {
      @include make-row;

      > ul {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }


}

html.aem-AuthorLayer-Edit {
  .pagelist.navbar-nav>.content>ul {
    float: none;
    position: relative;
    top: 0;
  }
}
