@import '../vendor/auto-complete';

@mixin inputStyle() {
  display: block;
  width: 100% !important;
  margin-bottom: 17px;
  height: 50px;
  box-sizing: border-box;
  background: $white;
  border: 1px solid map-deep-get($brand-colours, 'core', 'c11');
  padding: 8px 15px 8px 30px;
  font-size: 16px;
  line-height: 1.4em;
  color: map-deep-get($brand-colours, 'core', 'c10');
  border-radius: 0;
  vertical-align: middle;
  -webkit-appearance: none;
}

.theme--brand-form,
.theme--brand-formSSI-calculator,
.theme--brand-formSSI {
  .mobileLayout {
    display: none;
  }
  .afHeader,
  .guideTextDraw.headerText {
    height: auto;
  }
  .afHeader {
    background-color: transparent;
    border-bottom: 0;
    margin-bottom: 25px;
    &,
    .container {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  h1,
  .guideTextDraw.headerText {
    margin-bottom: 0;
    color: $white;
    line-height: 1.1;
    font-weight: bold;
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    &,
    p {
      font-size: 40px;
      text-align: left;
      line-height: 1.1;
    }
    @include media-breakpoint-up(md) {
      &,
      p {
        font-size: 52px;
      }
    }
  }
  .guidePanelNode {
    .row {
      [class*="col-"] {
        &:first-child {
          flex: 0 0 35%;
          max-width: 35%;
          padding-right: 5px;
          margin-top: -6px;
        }
        &:last-child {
          flex: 0 0 65%;
          max-width: 65%;
          padding-left: 0;
        }
        @include media-breakpoint-down(sm) {
          &:first-child,
          &:last-child {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  }
  .guideFieldWidget:not(.guideFieldButtonWidget) {
    width: auto;
  }
  height: 100%;
  iframe {
    display: block;
    width: 100%;
    min-height: 100%;
  }
  .guideContainerNode {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .guidePanelDescription {
    font-size: 1rem;
    color: $white;
    margin: 0 0 0.35em 0;
  }
  .guideFieldNode,
  &.mkt-form,
  .mkt-form {
    &:not(.guideButton):not(.guideChart) {
      margin-top: 0;
      padding-left: 0;
      padding-right: 0;
      border: none;
      padding-top: 0;
      margin-bottom: 0;
    }
    * {
      font-family: $font-family-open-sans;
    }
    legend,
    label,
    .guidePanelDescription,
    p {
      color: $white;
    }
    p {
      font-size: 20px;
    }
    select,
    input:not([type="radio"]):not([type="checkbox"]){
      @include inputStyle();
      @include placeholder {
        color: map-deep-get($brand-colours, 'core', 'c6');
      }
      &:focus {
        outline: none;
        border: 0;
        outline-offset: 0;
        @include placeholder {
          color: map-deep-get($brand-colours, 'core', 'c6');
        }
      }
    }
    .guideWidgetLabel,
    .guideFieldLabel {
      label {
        display: block;
        margin-bottom: .35em;
        font-size: 16px;
      }
    }
    select {
      -moz-appearance: none;
      -webkit-appearance: none;
      &::-ms-expand {
        display: none;
      }
    }
    &.error {
      input:not([type="radio"]):not([type="checkbox"]) {
        border: 1px solid map-deep-get($brand-colours, 'core', 'c7')
      }
    }
    &.success {
      input:not([type="radio"]):not([type="checkbox"]) {
        border: 1px solid map-deep-get($brand-colours, 'core', 'c1')
      }
    }
    &.guideCheckBox {
      .guideFieldLabel label {
        margin-bottom: 0;
      }
    }
    .dropDownList {
      position: relative;
      &:before {
        content: "\f0dd";
        position: absolute;
        display: block;
        font-size: 18px;
        width: 15px;
        height: 8px;
        right: 0;
        margin-right: 15px;
        top: 20%;
        transform: translateY(-20%);
        z-index: 2;
        color: $primary;
        font-family: $font-family-awesome-solid;
      }
    }
    button.btn--primary,
    button[type="submit"] {
      width: 100%;
      padding: 13px;
      margin:0;
      border: 2px solid $primary;
      color: $primary;
      font-weight: bold;
      font-size: 20px;
      background-color: transparent;
      border-radius: 0;
      text-transform: uppercase;
      transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
      text-align: center;
      &:after {
        content: "\f105";
        font-family: $font-family-awesome;
        color: $primary;
        display: inline-block;
        font-size: 18px;
        font-weight: lighter;
        transition: color 0.3s ease-in-out;
      }
      &:hover {
        border: 2px solid $white;
        color: $white;
        &:after {
          color: $white;
        }
      }
    }
    .guideFieldHorizontalAlignment {
      padding: 10px 20px 10px 10px;
      &,
      * {
        display: inline-block;
      }
      input[type="radio"],
      & {
        vertical-align: middle;
      }
      input[type="radio"] {
        margin-right: 15px;
      }
      label {
        margin-bottom: 0;
      }
    }
  }
  input[type='number'],
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance:textfield;
    margin: 0;
  }
  .validation-failure .guideFieldError {
    color: $primary;
    font-size: 14px;
    margin: -10px 0 10px 0;
  }
}

.theme--brand-formSSI {
  h1 {
    margin-bottom: 15px;
  }
  legend .fas {
    font-family: $font-family-awesome;
  }
  .easy-autocomplete {
    width: 100% !important;
  }
  .col-6,
  .col-11 {
    width: 100% !important;
    max-width: 100% !important;
    display: block;
    flex: 0 0 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  legend,
  label {
    display: block;
    margin-bottom: .35em;
    font-size: 16px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
    &:last-of-type {
      .fas, .fa {
        display: none;
      }
      p {
        width: 100%;
      }
    }
    span.col-6 {
        p {
          box-sizing: border-box;
          float: left;
          margin: 0;
          &:first-of-type {
            padding-right: 5px;
          }
          &:last-of-type {
            width: 65% !important;
          }
          @include media-breakpoint-down(md) {
            &:last-of-type,
            &:first-of-type {
              padding-right: 0;
              width: 100% !important;
            }
          }
        }
    }
    .col-6 {
      &:nth-child(4) > p:first-of-type,
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(9),
      &:nth-child(10){
        position: relative;
        &:before {
          content: "\f0dd";
          position: absolute;
          display: block;
          font-size: 18px;
          width: 15px;
          height: 8px;
          right: 0;
          margin-right: 15px;
          top: 50%;
          transform: translateY(-50%);
          margin-top: -6px;
          z-index: 2;
          color: $primary;
          font-family: $font-family-awesome-solid;
        }
      }
      &:nth-child(4) > p:first-of-type:before {
        margin-top: -21px;
      }
    }
  }
  .radio.inline {
    display: inline-block;
    padding: 10px 20px 10px 10px;
    input[type="radio"] {
      margin-right: 15px;
    }
  }
}

.theme--brand-formSSI-calculator {
  form.mkt-form {
    * {
      color: $black !important;
    }
    .row,
    fieldset {
      margin-left: -8px;
      margin-right: -8px;
      display: block;
      legend {
        padding: 0 8px;
        width: 33.333333%;
        max-width: 33.333333%;
        margin: 0;
        vertical-align: top;
        margin-top: 15px;
      }
      & > [class*='col-'] {
        width: 66.66667%;
        max-width: 66.66667%;
        label {
          margin-bottom: 5px;
        }
        padding-right: 0;
        .col-4 {
          padding: 0;
          width: 100%;
          max-width: 100%;
        }
      }
      & > [class*='col-'],
      legend {
        float: left;
        display: inline-block;
        flex: none;
        box-sizing: border-box;
        position: relative;
        @include media-breakpoint-down(md) {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    label,
    .multiline-lbl {
      font-size: 18px;
      .multiline-span,
      .multiline-input {
        position: relative;
        display: inline-block;
      }
      .multiline-span {
        display: inline-block;
        vertical-align: top;
        padding-left: 2px;
        margin-left: 0;
        width: calc(100% - 30px);
      }
      .multiline-input {
        position: relative;
        display: inline-block
      }
    }
    input[type="radio"] {
      width: 15px;
    }
    legend {
      font-size: 16px;
    }
    input[type="number"],
    select {
      height: 50px;
      font-size: 18px;
      padding: 0.5rem .9375rem;
      margin-bottom: 0;
      border: 1px solid #d9d5d1 !important;
      &:focus {
        border: 1px solid #96c8da !important;
      }
      &:hover {
        border: 1px solid rgba(34,36,38,.35) !important;
      }
    }
    fieldset {
      &:nth-of-type(1),
      &:nth-of-type(8) {
        .col-8 {
          &:after {
            content: "\f0dd";
            position: absolute;
            display: block;
            font-size: 18px;
            width: 15px;
            height: 8px;
            right: 0;
            margin-right: 15px;
            bottom: 0;
            margin-bottom: 36px;
            z-index: 2;
            color:rgba(0,0,0,.87);
            font-family: $font-family-awesome-solid;
          }
        }
      }
    }
    .slider {
      width: 99%;
    }
    .slider-high,
    .slider-low {
      width: 39%;
    }
    .slider-low {
      text-align: center;
    }
    .slider-high {
      margin-left: 4px;
    }
    .font-76 {
      font-size: 50px;
      line-height: 60px;
      @include media-breakpoint-down(md) {
        font-size: 28px;
        line-height: 38px;
      }
    }
    .column {
      box-sizing: border-box;
      display: inline-block;
      padding: 40px;
      margin-bottom: 0;
      height: 100%;
      font-size: 20px;
      text-align: left;
    }
    .ui.selection.dropdown {
      height: 44px;
      font-size: 18px;
      width: 100% !important;
      .dropdown.icon{
        padding: 14px .78571429em .78571429em .78571429em;
        &:before {
          color:rgba(0,0,0,.87);
          font-family: $font-family-awesome-solid;
          font-size: 18px;
        }
      }
    }
  }
}

.theme--brand-formSSI-atar {
  #atar_calculator_include {
    #query-form {
      padding-left: 0;
      padding-right: 0;
      button {
        padding: 3px 10px;
      }
      .dropdown-options {
        padding-top: 5px;
      }
    }
    table {
      font-size: 18px;
      td {
        padding: 10px;
      }
      tr {
        line-height: inherit;
      }
    }
    h3 {
      font-size: 40px;
      margin-bottom: 20px;
      line-height: 1.1;
      font-weight: bold;
      text-transform: uppercase;
      @include media-breakpoint-up(md) {
        font-size: 52px;
        margin-bottom: 40px;
      }
    }
    p {
      font-size: 18px;
      line-height: 1.4285em;
      margin-bottom: 15px;
    }
  }
}

.easy-autocomplete-container {
  z-index: 10;
  ul li {
    &,
    .selected {
      color: #000;
    }
  }
}
