html:not(.aem-AuthorLayer-Edit) {
  div[component].theme--image-headerlogo {
    width: 50px;
    height: 50px;
    @include media-breakpoint-up(lg) {
      width: 90px;
      height: 90px;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    &:last-child  {
      position: absolute;
      top: 90px;
    }
  }
}

.image[component] {
  &.img-fluid {
    img {
      min-width: auto;
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  &.img-center {
    margin: 0 auto;
    position: relative;
    display: inline-block;
    transform: translateX(-50%);
    left: 50%;
  }
  &.img-no-margin {
    img {
     margin: 0 !important;
    }
  }
  &.img-no-padding {
    img {
      padding: 0 !important;
    }
  }
  .license,
  & > picture ~ span {
    position: absolute;
    width: .0625rem;
    height: .0625rem;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
  }
  &.img-data-visible > picture ~ span {
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    overflow: visible;
    clip: inherit;
    white-space: nowrap;
    border: 0;
    margin-bottom: 10px;
    display: block;
  }
}

html.aem-AuthorLayer-Edit {
  div[component].theme--image-headerlogo {
    position: relative;
    top: 0;
    picture {
      &,
      img {
        display: block;
      }
      img {
        width: 90px;
        height: auto;
        min-width: inherit;
      }
    }
  }
}

