.btn {
  font-size: 16px;
  display: inline-block;
  border: 0;
  padding: 10px 14px;
  text-transform: uppercase;
  transition: background-color 300ms ease-in-out, border-radius 300ms ease-in-out;
  font-weight: bold;
  white-space: normal;
  text-align: left;
  &:not([class*="btn-outline-"]) {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  &:hover {
    text-decoration: none;
  }
  & > * {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  & > h3 {
    font-size: 24px;
  }
  &.btn-sm {
    padding: 5px 12px;
  }
}

.advsection .childsection .btn-link {
  color: $secondary;
  &:hover {
    color: $secondary;
  }
}

.btn-shadow {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

a[component] {
  &.link {
    font-size: 20px;
  }
}

//Modifiers
.btn-secondary {
  background-color: $secondary;
  &:hover {
    background-color: lighten($secondary, 25%);
  }
}

.btn-primary {
  background-color: $primary;
  &:hover {
    background-color: lighten($primary, 10%);
  }
}

.btn-arrow {
  &:after {
    content: "\f054";
    color: $white;
    font-size: 16px;
    font-family: $font-family-awesome-solid;
    display: inline-block;
    margin-left: 5px;
  }
}

.nav[component] {
  color: lighten($tertiary, 15%);
  text-decoration: none;
  transition: color 300ms ease-in-out;
  display: inline-block;
  &:before {
    padding-left: 1.2em;
    margin-right: 5px;
  }
  &:hover {
    &,
    &:before {
      color: $tertiary;
    }
  }
}

.link-paragraph {
  p {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    & > * {
      color: $primary;
    }
  }
}
