.navlist {
  @include make-container;
  background-color: $white;

  border-bottom: 0;
  border-top: 0;
  padding-bottom: get-spacer(15);
  padding-top: get-spacer(15);

  @include list-unstyled;

  li {
    line-height: rem-calc(20px);
    margin-bottom: rem-calc(2.5px);
    margin-top: rem-calc(2.5px);
  }

  a {
    color: $link-color;
    padding-bottom: rem-calc(15px);
    display: inline-flex;
    text-decoration: none;
    position: relative;
    height: 100%;
    transition: $transition-base;
    @include media-breakpoint-down(sm) {
     margin-left: 15px;
    }
    &::after {
      background-color: $link-color;
      bottom: 0;
      content: '';
      height: 3px;
      left: 0;
      opacity: 0;
      position: absolute;
      width: 100%;
      margin: 0;
      transition: $transition-base;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &:hover {
      color: $link-color;
      text-decoration: underline;
      &::after {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-up(md) {
    position: relative;
    top: 2px;
    padding: 0;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    li:not(:first-child) {
      margin-left: map-get($spacers, 30);
    }
  }

  @include media-breakpoint-down(sm) {
    padding-right: 0;
    padding-left: 0;
  }

  li {
    position: relative;
    margin-top: rem-calc(12px);
    list-style-type: none;

    @include media-breakpoint-down(sm) {
      background-color: transparent;
    }

    &::after {
      @include media-breakpoint-down(sm) {
        background-color: transparent;
        content: '';
        position: absolute;
        height: 25px;
        width: 3px;
        left: -16px;
        top: -3px;
      }
    }

    &:hover {
      &::after {
        @include media-breakpoint-down(sm) {
          background-color: $link-color;
        }
      }
    }

    &.active {
      &::after {
        @include media-breakpoint-down(sm) {
          background-color: white;
        }
      }

      a {
        color: theme-color('w1');
        position: relative;

        &::after {
          @include media-breakpoint-up(md) {
            background-color: white;
            opacity: 1;
          }
        }
      }
    }
  }
}

html:not(.aem-AuthorLayer-Edit ) {
  .theme--sidebar-brand {
    width: 100%;
    max-width: 300px;
    min-height: calc( 100vh - 140px );
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 180px 15px;
    z-index: 1;
    @include media-breakpoint-down(md) {
      display: none;
    }
    & > .aem-Grid {
      min-height: 100%;
    }
    .navlist[component] {
      &,
      & > li {
        display: block;
        top: 0;
        height: auto;
      }
      & > li {
        margin-left: 15px;
        a {
          &:hover {
            text-decoration: none;
            &:after {
              content: " ";
              width: 0;
              overflow: hidden;
              opacity: 0;
            }
          }
        }
      }
    }
    & + div.article {
      z-index: 2;
      & > article {
        padding-left: 350px;
      }
    }
  }
}
