// Colours

$black: #000;
$white: #fff;

$brand-colours: (
  'core': (
    c1  : #DC2D27,
    c2  : #FFD200,
    c3  : #242323,
    c4  : #85C441,
    c5  : #00AEEF,
    c6  : #883681,
    c7  : #00BED8,
    c8  : #21201E,
    c9  : #ffffff,
    c10 : #292625,
    c11 : #d9d5d1,
  ),

  'grey': (
    g1: #242323,
    g2: #737578,
    g3: #A5A5A5,
    g4: #D1D1D1,
    g5: #E2E2E2,
    g6: #F6F6F6,
    g7: $white,
  ),
);

$primary   : map-deep-get($brand-colours, 'core', 'c1');
$secondary : map-deep-get($brand-colours, 'core', 'c2');
$tertiary  : map-deep-get($brand-colours, 'core', 'c3');
$color-4   : map-deep-get($brand-colours, 'core', 'c4');
$color-5   : map-deep-get($brand-colours, 'core', 'c5');
$color-6   : map-deep-get($brand-colours, 'core', 'c6');
$color-7   : map-deep-get($brand-colours, 'core', 'c7');

// Lighten colours
$primary-50   : #ED9693;
$secondary-50 : #FFF589;
$color-4-50   : #C2E1A0;
$color-5-50   : #7FD6F7;
$color-6-50   : #C39AC0;
$color-7-50   : #7DFEEB;

// Grey colours
$grey-1: map-deep-get($brand-colours, 'grey', 'g1');
$grey-2: map-deep-get($brand-colours, 'grey', 'g2');
$grey-3: map-deep-get($brand-colours, 'grey', 'g3');
$grey-4: map-deep-get($brand-colours, 'grey', 'g4');
$grey-5: map-deep-get($brand-colours, 'grey', 'g5');
$grey-6: map-deep-get($brand-colours, 'grey', 'g6');

$theme-colors: (
  'primary'   : $primary,
  'secondary' : $secondary,
  'tertiary'  : $tertiary,

  'c1': map-deep-get($brand-colours, 'core', 'c1'),
  'c2': map-deep-get($brand-colours, 'core', 'c2'),
  'c3': map-deep-get($brand-colours, 'core', 'c3'),
  'c4': map-deep-get($brand-colours, 'core', 'c4'),
  'c5': map-deep-get($brand-colours, 'core', 'c5'),
  'c6': map-deep-get($brand-colours, 'core', 'c6'),
  'c7': map-deep-get($brand-colours, 'core', 'c7'),
  'c8': map-deep-get($brand-colours, 'core', 'c8'),
  'c9': map-deep-get($brand-colours, 'core', 'c9'),

  'g1': map-deep-get($brand-colours, 'grey', 'g1'),
  'g2': map-deep-get($brand-colours, 'grey', 'g2'),
  'g3': map-deep-get($brand-colours, 'grey', 'g3'),
  'g4': map-deep-get($brand-colours, 'grey', 'g4'),
  'g5': map-deep-get($brand-colours, 'grey', 'g5'),
  'g6': map-deep-get($brand-colours, 'grey', 'g6'),
  'g7': map-deep-get($brand-colours, 'grey', 'g7'),
);

// Body

$body-bg:                   theme-color('g7');
$body-color:                theme-color('g1');


// Spacers used for utility classes

$spacers: (
  0  : 0,
  5  : 5px,
  10 : 10px,
  15 : 15px,
  20 : 20px,
  25 : 25px,
  30 : 30px,
  35 : 35px,
  40 : 40px,
);


// Spacing variables

$spacing-2xs : 5px;
$spacing-xs  : 10px;
$spacing-sm  : 15px;
$spacing-md  : 20px;
$spacing-lg  : 25px;
$spacing-2xl : 30px;
$spacing-3xl : 35px;
$spacing-4xl : 40px;
$spacing-5xl : 45px;
$spacing-6xl : 50px;
$spacing-7xl : 55px;

$grid-gutter    : 5.5;
$grid-gutter-sm : 9;
$grid-gutter-lg : 13;
$grid-gutter-xl : 12;


// UC Spacing conventions
// Vertical Spacing \\
// margin-bottom: map-deep-get($spacersVertical, 'lg', 'Y.5');
$spacersVertical: (
  'sm': (
    'Y.5'  : rem-calc(12px),
    'Y.75' : rem-calc(18px),
    'Y1'   : rem-calc(24px),
    'Y1.5' : rem-calc(36px),
    'Y2'   : rem-calc(36px),
    'Y2.5' : rem-calc(48px),
    'Y3'   : rem-calc(54px),
    'Y4'   : rem-calc(72px),
  ),
  'md': (
    'Y.5'  : rem-calc(12px),
    'Y.75' : rem-calc(18px),
    'Y1'   : rem-calc(24px),
    'Y1.5' : rem-calc(36px),
    'Y2'   : rem-calc(48px),
    'Y2.5' : rem-calc(54px),
    'Y3'   : rem-calc(72px),
    'Y4'   : rem-calc(96px),
  ),
  'lg': (
    'Y.5'  : rem-calc(16px),
    'Y.75' : rem-calc(24px),
    'Y1'   : rem-calc(32px),
    'Y1.5' : rem-calc(48px),
    'Y2'   : rem-calc(64px),
    'Y2.5' : rem-calc(72px),
    'Y3'   : rem-calc(96px),
    'Y4'   : rem-calc(128px),
  )
);
// Horizontal Spacing \\
// margin-bottom: map-deep-get($spacersHorizontal, 'lg', 'Y.5');
$spacersHorizontal: (
  'sm': (
    'Y.5'  : rem-calc(8px),
    'Y.75' : rem-calc(12px),
    'Y1'   : rem-calc(16px),
    'Y1.5' : rem-calc(24px),
    'Y2'   : rem-calc(32px),
    'Y2.5' : rem-calc(36px),
    'Y3'   : rem-calc(48px),
    'Y4'   : rem-calc(64px),
  ),
  'md': (
    'Y.5'  : rem-calc(12px),
    'Y.75' : rem-calc(18px),
    'Y1'   : rem-calc(24px),
    'Y1.5' : rem-calc(36px),
    'Y2'   : rem-calc(48px),
    'Y2.5' : rem-calc(54px),
    'Y3'   : rem-calc(72px),
    'Y4'   : rem-calc(96px),
  ),
  'lg': (
    'Y.5'  : rem-calc(16px),
    'Y.75' : rem-calc(24px),
    'Y1'   : rem-calc(32px),
    'Y1.5' : rem-calc(48px),
    'Y2'   : rem-calc(64px),
    'Y2.5' : rem-calc(72px),
    'Y3'   : rem-calc(96px),
    'Y4'   : rem-calc(128px),
  )
);


// Components
//
// Define common padding and border radius sizes and more.

$border-width:                1px;
$border-color:                theme-color('c6');

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;


// Fonts

$font-family-base:            'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
$font-family-open-sans:       'Open Sans', sans-serif;
$font-family-brush-up:        'BrushUp', sans-serif;
$font-family-awesome:         'Font Awesome 5 Pro';

$font-size-base:              16px;
// $font-size-lg:                ($font-size-base * 1.25);
// $font-size-sm:                ($font-size-base * .875);

$line-height-base:            24px;

$h1-font-size:                60px;
$h2-font-size:                40px;
$h3-font-size:                30px;
$h4-font-size:                26px;
$h5-font-size:                24px;
$h6-font-size:                20px;

$headings-margin-bottom:      $spacing-sm;
$headings-font-weight:        normal;
$headings-line-height:        1;
$headings-color:              inherit;

$lead-font-size:              18px;
$lead-font-weight:            normal;


// Options
$enable-rounded:            false;

// Buttons
$btn-border-radius: 4px;
$btn-secondary-yellow-color: #ffeb16;
$btn-secondary-yellow-border-color: #fbb946;
$btn-secondary-charcoal-hover-color: #58595b;
$btn-secondary-primary-border-color: #ad1914;


// Animation
$animation-speed : 300ms;



// Icons

$icon-sizes: (
  xs: 16px,
  sm: 24px,
  md: 48px,
  lg: 72px,
  xl: 96px,
);

// Spacing

$container-spacers: (
  sm : 16px,
  md : 36px,
  lg : 64px
);

// Custom typography map for responsive headings and text

$typography: (
  headings: (
    h1: (
      xs: (
        font-size: 40px,
        line-height: 42px,
      ),
      md: (
        font-size: 40px,
        line-height: 42px,
      ),
      lg: (
        font-size: $h1-font-size,
        line-height: 63px,
      ),
    ),

    h2: (
      xs: (
        font-size: 35px,
        line-height: 41px,
        font-weight: 600,
      ),
      md: (
        font-size: 38px,
        line-height: 42px,
      ),
      lg: (
        font-size: $h2-font-size,
        line-height: 48px,
      ),
    ),

    h3: (
      xs: (
        font-size: 26px,
        line-height: 32px,
        font-weight: 600,
      ),
      md: (
        font-size: 28px,
        line-height: 34px,
      ),
      lg: (
        font-size: $h3-font-size,
        line-height: 38px,
      ),
    ),

    h4: (
      xs: (
        font-size: 24px,
        line-height: 30px,
        font-weight: 600,
      ),
      md: (
        font-size: 26px,
        line-height: 34px,
      ),
      lg: (
        font-size: $h4-font-size,
        line-height: 34px,
      ),
    ),

    h5: (
      xs: (
        font-size: 20px,
        line-height: 26px,
        font-weight: 600,
      ),
      md: (
        font-size: 22px,
        line-height: 30px,
      ),
      lg: (
        font-size: $h5-font-size,
        line-height: 32px,
      ),
    ),

    h6: (
      xs: (
        font-size: 18px,
        line-height: 24px,
        font-weight: 600,
      ),
      md: (
        font-size: 20px,
        line-height: 28px,
      ),
      lg: (
        font-size: $h6-font-size,
        line-height: 28px,
      ),
    ),
  ),

  paragraphs: (
    p1: (
      default-selector : '.lead',
      no-tag           : true,

      xs: (
        only        : true,
        line-height : 24px,
      ),
    ),

    p2: (
      default-selector: 'p',

      xs: (
        only        : true,
        line-height : 22px,
      ),
    ),

    p3: (
      no-tag: true,

      xs: (
        font-size: 14px,
        line-height: 24px,
      ),
    ),

    p4: (
      no-tag: true,

      xs: (
        font-size: 12px,
        line-height: 20px,
      ),
    ),
  ),
);


// Grid generic

$aem-prefix: 'aem-Grid';
$aem-prefix-col: 'aem-GridColumn';

$aem-breakpoints: (
  'small'   : 'sm',
  'medium'  : 'md',
  'large'   : 'lg',
  'default' : 'xl',
);



// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 16px;


// Grid breakpoints
 $grid-breakpoints: (
   xs: 0,
   sm: 320px,
   md: 640px,
   lg: 1024px,
   xl: 1366px
 );

// Grid containers
$container-max-widths: (
  xl: 1366px
);

$screen-sm: 320px;
$screen-md: 640px;
$screen-lg: 1024px;

//Max queries
$screen-sm-max: 639px;


// Grid columns
$grid-gutter-width: 26px;

// Navs

$nav-link-padding-y:                0;
$nav-link-padding-x:                0;

$nav-tabs-border-color:             theme-color('c6');
$nav-tabs-border-width:             2px;
$nav-tabs-border-radius:            $border-radius;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color;
$nav-tabs-link-active-color:        theme-color('c6');
$nav-tabs-link-active-bg:           transparent;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;


// Navbar

$navbar-padding-y:                  0;
$navbar-padding-x:                  0;

$navbar-nav-link-padding-x:         0;

$navbar-brand-font-size:            rem-calc(32px);
$navbar-brand-padding-y:            0;

$navbar-toggler-padding-y:          0;
$navbar-toggler-padding-x:          0;

$navbar-light-color:                theme-color('c6');
$navbar-light-hover-color:          theme-color('g1');
$navbar-light-active-color:         theme-color('g1');
$navbar-light-disabled-color:       theme-color('g5');
$navbar-light-toggler-icon-bg:      null;
$navbar-light-toggler-border-color: null;


// Breadcrumbs

$breadcrumb-padding-y:              0;
$breadcrumb-padding-x:              0;

$breadcrumb-bg:                     transparent;
$breadcrumb-divider-color:          inherit;
$breadcrumb-active-color:           inherit;
$breadcrumb-divider:                '›';


// Cards

$card-spacer-y:                     16px;
$card-spacer-x:                     25px;
$card-border-width:                 0;
$card-bg:                           transparent;


// Buttons

$btn-padding-y:               15px;
$btn-padding-x:               30px;
$btn-line-height:             rem-calc(20px);

$btn-padding-y-sm:            8px;
$btn-padding-x-sm:            15px;
$btn-line-height-sm:          rem-calc(16px);

$btn-padding-y-lg:            $btn-padding-y;
$btn-padding-x-lg:            $btn-padding-x;
$btn-line-height-lg:          $btn-line-height;

$btn-border-width:            0;
